body {
    background-color: rgb(59, 150, 192);
}

.Madoda_Ngwekazi {
    text-align: center;
    display: flex;
}

.City_of_Cape_Town {
    text-align: center;
}

.French {
    text-align: left;

}

.Historical_Places {
    text-align: center;
    padding: 1em;
    border: 2px solid white;
}

@media (min-width: 576px){
    .City_of_Cape_Town{
        display: inline-block;
    }
    .Historical_Places{
        display: flex;
    }
}

@media (min-width: 960px){
    .City_of_Cape_Town{
        display: inline-block;
    }
    .Historical_Places{
        display: flex;
    }
}