body {
    background-color: rgb(59, 150, 192);
}

.Madoda_Ngwekazi {
    text-align: left;
    display: flex;
    padding: 1em;
}

.City_of_Cape_Town {
    text-align: left;
    padding: 1em;
}

.French {
    text-align: left;
    padding: 1em;
}

.Historical_Places {
    text-align: left;
    padding: 1em;
}

@media (min-width: 576px){
    .City_of_Cape_Town{
        display: inline-block;
    }
    .Historical_Places{
        display: flex;
    }
}

@media (min-width: 992px){
    .City_of_Cape_Town{
        display: inline-block;
    }
    .Historical_Places{
        display: flex;
    }
}